---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

exclude: ^(pnpm-lock\.yaml|package-lock\.json|.*\.tfvars|.*\.tfvars\.json|.*\.min\.css|.*\.min\.js)$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=512']
        exclude: '^package-lock\.json$'
      - id: check-json
      - id: check-yaml
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: trailing-whitespace

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v9.4.0
    hooks:
      - id: cspell

  # see: https://github.com/DavidAnson/markdownlint/blob/main/doc/Rules.md
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
        args: ['--fix']

  - repo: local
    hooks:
      - id: textlint
        name: textlint
        language: node
        types: [file]
        files: \.(txt|md|mdown|markdown)$
        entry: textlint
        require_serial: false
        additional_dependencies:
          - 'textlint@15.5.1'
          - 'textlint-filter-rule-comments@1.3.0'
          - 'textlint-rule-preset-smarthr@1.36.1'
          - 'textlint-rule-preset-ja-technical-writing@12.0.2'
          - 'textlint-rule-prh@6.1.0'

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0
    hooks:
      - id: shellcheck

  - repo: https://github.com/biomejs/pre-commit
    rev: v2.3.12
    hooks:
      - id: biome-check
        additional_dependencies: ['@biomejs/biome@2.3.8']

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        name: Format GitHub Actions workflow files
        types:
          - yaml

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint-docker

  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 42.84.0
    hooks:
      - id: renovate-config-validator
        files: ^renovate\.json(5)?$

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.105.0
    hooks:
      - id: terraform_fmt
